.hd1{
    font-size: 110px; 
    font-family: 'Cinzel';   
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

.hd2{
    font-size: 50px; 
    display: flex;
    justify-content: center;
  }